<!DOCTYPE html>
<html>
  <head>
    <title>MRoster Database</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => 'partials/topnav', :formats => :html %>

    <div class="main-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= notice_helper %>
            <%= yield %>
          </div>
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!-- /main-page -->

	  
  </body>
</html>
